extends ../layouts/default

block head
  title Blister is Running

block neck
  link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')

block body
  div.jumbotron
    h1 CookieTracker
    p.lead
      | .
      div
        a.btn.btn-primary.btn-lg(href='/signup/') Create an Account
        |  or&nbsp;
        a.btn.btn-warning.btn-lg(href='/login/forgot/') Reset Your Password
      div.clearfix
      div
        img(src='http://i.imgur.com/QJaKjxd.jpg')
