extends ../layouts/default

block head
  title Blister is Running

block neck
  link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')

block body
  div.jumbotron
    h1 SellThoseCookies
    p.lead
      | Ready to sell some cookies? Click "New Order" above.
      div
        a.btn.btn-primary.btn-lg(href='/newOrder/') Create an Account
        |  or&nbsp;
        a.btn.btn-warning.btn-lg(href='/login/forgot/') Reset Your Password
      div.clearfix
